/* ----------- */
/* variables   */
/* ----------- */

:root {
  /* fonts */
  --fs-300: 0.833rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 1.44rem;
  --fs-700: 1.728rem;
  --fs-800: 2.074rem;
  --fs-900: 2.488rem;

  /* colors */
  --clr-primary: rgb(6, 50, 68);
  --clr-secondary: rgb(1, 109, 156);
  --clr-accent: rgb(227, 178, 60);
  --clr-dark: rgb(18, 18, 18);
  --clr-light: rgb(248, 248, 255);

}


/* ----------- */
/* basic reset */
/* ----------- */

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  hanging-punctuation: first allow-end last;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}


body {
  min-height: 100vh;
  min-height: 100svh;
  line-height: 1.5;
  scrollbar-gutter: stable;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}


/* --------------- */
/* utility classes */
/* --------------- */

.hidden {
  display: none !important;
}
