/* ----------- */
/* variables   */
/* ----------- */

:root {
  /* fonts */
  --fs-300: 0.833rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 1.44rem;
  --fs-700: 1.728rem;
  --fs-800: 2.074rem;
  --fs-900: 2.488rem;

  /* colors */
  --clr-primary: rgb(6, 50, 68);
  --clr-secondary: rgb(1, 109, 156);
  --clr-accent: rgb(227, 178, 60);
  --clr-dark: rgb(18, 18, 18);
  --clr-light: rgb(248, 248, 255);

}


/* ----------- */
/* basic reset */
/* ----------- */

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  hanging-punctuation: first allow-end last;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}


body {
  min-height: 100vh;
  min-height: 100svh;
  line-height: 1.5;
  scrollbar-gutter: stable;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}


/* --------------- */
/* utility classes */
/* --------------- */

.hidden {
  display: none !important;
}


/* ----------- */
/* basic style */
/* ----------- */

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: var(--fs-400);

    background-color: var(--clr-light);
    color: var(--clr-dark);
}

h1 {
  font-size: var(--fs-600);
}

/* ---------- */
/* app layout */
/* ---------- */

.app {
  max-width: 480px;
  height: 100vh;

  margin: 0 auto;
  padding-block: 2rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* topbar */

.topbar {
  width: 100%;
  margin-bottom: 2rem;
  padding-inline: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-area {
  display: flex;
  gap: 0.5rem;
}

.auth-area button {
  padding: 0.3rem 1.5rem;
  border-radius: 5rem;
  border: 1px solid var(--clr-secondary);

  color: var(--clr-secondary);
  font-weight: 600;
  box-shadow: 4px 3px 11.3px 0px rgba(0,0,0,0.1), inset -3px -4px 7px 0px rgba(0,0,0,0.1);
  cursor: pointer;
}

/* main */
main {
  width: 100%;
}

.week-list,
.tasks-list,
.events-list,
.subjects-list {
  display: flex;
  flex-direction: column;
}

.item {
  position: relative;

  width: 100%;
  display: flex;
  gap: 1rem;

  padding: 1rem 2rem;

  cursor: pointer;
}

.item::after {
  content: "";
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.item input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;

  margin-top: 0.25rem;
}

.item__icon {
  display: inline-block;
  font-size: 1.7rem;
  line-height: 1;
}

.item__title {
  font-weight: 500;
}

.item__meta {
  font-size: var(--fs-300);
  opacity: 0.8;
}

.item__date {
  margin-left: auto;
  text-align: end;
}

.item__date-main {
  font-weight: 600;
  font-size: var(--fs-400);
}

.item__date-sub {
  font-size: var(--fs-300);
  opacity: 0.8;
}

.item:not(:has(input[type="checkbox"])) {
  background-color: rgb(196, 221, 232);
}

.item:has(input[type="checkbox"]) .item__date-main {
  font-size: var(--fs-300);
  opacity: 0.8;
  font-weight: 400;
}

.item--completed {
  opacity: 0.8;
}

.item--completed .item__title,
.item--completed .item__meta,
.item--completed .item__date {
  color: #616161;
  text-decoration: line-through;
}

.subject-item {
  position: relative;
  padding: 0.5rem 2rem;
}

.subject-item::after {
  content: "";
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* main nav */

.bottom-nav {
  width: calc(100% - 4rem);
  margin-inline: 2rem;
  margin-top: auto;
  padding: 0.1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(215, 215, 215, 0.199);
  border-radius: 10rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.1px);
  -webkit-backdrop-filter: blur(16.1px);
}

.bottom-nav__btn {
  background-color: transparent;
  outline: none;
  border: none;
  width: 25%;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: var(--fs-300);
  font-weight: 500;

  padding: 0.2rem 1.2rem;
  border-radius: 10rem;
}

.bottom-nav__btn svg {
  fill: currentColor;
  scale: 0.9;
}

.bottom-nav__btn.active {
  color: var(--clr-secondary);
  background-color: rgba(185, 185, 185, 0.178);
}

/* fab */
.fab {
  position: fixed;
  bottom: 7rem;
  right: calc(50% - 240px + 2rem);

  width: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;

  border: none;
  background: var(--clr-secondary);
  color: var(--clr-light);
  font-size: 3.5rem;
  cursor: pointer;
}

.fab:hover {
  background: #333;
}